/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*----------BODY-------------*/
body {
  position: relative;
  font-size: 16px;
  font-family: "Encode Sans", sans-serif;
  z-index: -2;
  background-color: black;
  overflow-x: hidden; }

/*----------HEADER---------*/
header {
  padding: 1.5em 2em;
  text-align: center;
  background-color: #1A1818;
  color: #e4e4e4;
  z-index: 4; }
  header h1 {
    font-weight: 700;
    font-size: 1.5em;
    color: #00a04d;
    padding-bottom: .2em; }
  header h2 {
    font-weight: 400;
    font-size: 1.1em; }

/*-----------NAV---------*/
nav {
  padding: 0 2em;
  background-color: #2c2c2c;
  text-align: center; }
  nav ul li {
    float: left;
    width: 33.33%; }
    nav ul li a {
      padding: .6em 0;
      display: block;
      color: #e7e7e7;
      text-decoration: none;
      transition: background-color .7s; }
      nav ul li a:hover {
        background-color: #1d1d1d; }
      nav ul li a.active {
        background-color: #131313;
        color: #00a04d; }

/*------------MAIN/BLOG/--------*/
main#blog {
  padding: 1em 2em;
  position: relative;
  z-index: -1;
  background-color: #fbfbfb; }
  main#blog div#main-background {
    width: 100vw;
    height: 16em;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2c2c2c;
    background-image: url("http://oi67.tinypic.com/fdaxap.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1; }
    main#blog div#main-background h1 {
      z-index: 5;
      font-size: 2em;
      color: #fbfbfb;
      letter-spacing: .2em;
      text-align: center;
      font-family: "Droid Serif", serif;
      position: absolute;
      top: 60%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
    main#blog div#main-background #overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: -1; }
  main#blog section#content {
    z-index: 2;
    padding: 0 .2em;
    margin-top: 16em;
    background-color: #fbfbfb; }
    main#blog section#content h1 {
      margin-bottom: 4.25em; }
    main#blog section#content article {
      padding: 1em 0; }
      main#blog section#content article h1 {
        text-align: left;
        color: #2c2c2c;
        margin: 1.2em 0;
        font-size: 1.5em;
        font-weight: 700;
        letter-spacing: .1em; }
      main#blog section#content article p {
        text-align: left;
        font-size: 1.1em;
        letter-spacing: .1em;
        line-height: 1.2em; }
      main#blog section#content article div.read-more {
        margin-top: 1em;
        border: none;
        outline: none;
        background-color: transparent;
        text-align: right; }
        main#blog section#content article div.read-more a {
          text-decoration: underline;
          color: inherit;
          cursor: pointer; }
    main#blog section#content hr {
      border: 0;
      height: 1px;
      background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); }
    main#blog section#content h1 {
      text-align: center;
      font-size: 1.5em; }

/*--------------MAIN/GALLERY----------*/
main#gallery {
  position: relative;
  height: auto;
  padding: 1em 2em;
  position: relative;
  z-index: -1;
  background-color: #fbfbfb; }
  main#gallery div#main-background {
    width: 100vw;
    height: 16em;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2c2c2c;
    background-image: url("http://oi65.tinypic.com/5yyyds.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1; }
    main#gallery div#main-background h1 {
      z-index: 5;
      font-size: 2em;
      color: #fbfbfb;
      letter-spacing: .2em;
      text-align: center;
      font-family: "Droid Serif", serif;
      position: absolute;
      top: 60%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
    main#gallery div#main-background #overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: -1; }
  main#gallery section#content {
    margin-top: 16em; }
    main#gallery section#content figure {
      width: 100%;
      max-width: 315px;
      margin: 1em auto;
      position: relative; }
      main#gallery section#content figure img {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7); }
      main#gallery section#content figure figcaption {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3); }
        main#gallery section#content figure figcaption p {
          background-color: rgba(0, 0, 0, 0.6);
          background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.01) 100%);
          padding: .5em 1em;
          color: #eeeeee;
          font-size: 1.3em;
          font-family: "Droid Serif", serif;
          width: 150px; }
        main#gallery section#content figure figcaption button {
          outline: none;
          border: none;
          cursor: pointer;
          font-size: 1em;
          padding: .3em .6em;
          background-color: #1f1f1f;
          background-color: #01842f;
          color: #e7e7e7;
          position: absolute;
          top: .5em;
          right: .5em;
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8); }
        main#gallery section#content figure figcaption button:active {
          box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.8); }
      main#gallery section#content figure img {
        width: 100%;
        height: 100%; }

/*-----------------MAIN/CONTACT----------*/
main#contact {
  position: relative;
  height: auto;
  padding: 1em 2em;
  position: relative;
  z-index: -1;
  background-color: #fbfbfb; }
  main#contact div#main-background {
    width: 100vw;
    height: 16em;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2c2c2c;
    background-image: url("http://oi64.tinypic.com/nojb11.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1; }
    main#contact div#main-background h1 {
      z-index: 5;
      font-size: 2em;
      color: #fbfbfb;
      letter-spacing: .2em;
      text-align: center;
      font-family: "Droid Serif", serif;
      position: absolute;
      top: 60%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
    main#contact div#main-background #overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: -1; }
  main#contact section#content {
    margin-top: 16em; }
    main#contact section#content form {
      width: 100%; }
      main#contact section#content form label {
        display: inline-block;
        margin: .5em 0 .2em 0; }
      main#contact section#content form input {
        width: 100%;
        font-size: 1em; }
        main#contact section#content form input:last-child {
          border: none;
          outline: none;
          padding: .3em .5em;
          margin-top: 1em;
          background-color: #00a04d;
          color: #fbfbfb;
          cursor: pointer;
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); }
          main#contact section#content form input:last-child:active {
            box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.5);
            color: #c8c8c8; }
      main#contact section#content form textarea {
        width: 100%;
        font-size: 1em; }

/*---------------FOOOTER---------------*/
footer {
  position: relative;
  background-color: #2c2c2c;
  padding: 1.3em;
  padding-bottom: 3em;
  color: #afafaf; }
  footer section {
    margin-left: auto;
    margin-right: auto;
    width: 12em;
    text-align: center; }
  footer ul {
    padding: 1em;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1); }
    footer ul:last-child {
      border-bottom: none; }
    footer ul li a {
      color: inherit;
      text-decoration: none;
      display: block;
      width: 6em;
      margin: 0 auto;
      padding: .2em 0;
      border-bottom: dashed 1px rgba(255, 255, 255, 0.2); }
  footer p {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1em 0;
    color: #e7e7e7;
    background-color: #1f1f1f; }
    footer p span {
      color: #00a04d; }
      footer p span a {
        color: inherit; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

@media only screen and (min-width: 560px) {
  /*--------------HEADER---------------*/
  header {
    text-align: left; }

  /*-------------MAIN------------*/
  main#blog {
    background-color: #f6f6f6; }
    main#blog div#main-background {
      height: 22%;
      min-height: 20em; }
    main#blog section#content {
      padding: 2em 1em;
      max-width: 60em;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
      main#blog section#content article {
        padding: 0 1em; }

  /*------------MAIN/Gallery---------*/
  main#gallery {
    background-color: #f6f6f6;
    position: relative;
    height: 100%; }
    main#gallery div#main-background {
      height: 22%;
      min-height: 20em; }
    main#gallery section#content {
      margin-top: 22em; }
      main#gallery section#content figure {
        float: left;
        width: 31.33%;
        margin: 2% 1%; }

  /*----------MAIN/CONTACT-------------*/
  main#contact div#main-background {
    height: 100%; }
    main#contact div#main-background h1 {
      top: 10%; }
  main#contact section#content {
    margin-top: 8em;
    padding-bottom: 2em; }
    main#contact section#content form {
      width: 20em;
      margin: 0 auto; }
  main#contact form label {
    color: #eeeeee; }

  /*-----------FOOOTER------------*/
  footer {
    padding-bottom: 4em; }
    footer section {
      width: 100%; }
      footer section ul {
        float: left;
        width: 33.33%;
        height: 7.85em;
        border-bottom: none;
        border-right: solid 1px rgba(255, 255, 255, 0.1); }
      footer section ul:last-child {
        border-right: none; } }
@media only screen and (min-width: 1025px) {
  /*--------HEADER---------*/
  header {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3); }

  /*------------NAV-------------*/
  nav {
    position: absolute;
    top: 1.5em;
    right: 2em;
    border-radius: 99px; }
    nav ul li {
      width: 5em; }

  /*----------MAIN/Gallery---------*/
  main#gallery section#content figure {
    float: left;
    width: 23%;
    transition: box-shadow .5s; }
    main#gallery section#content figure figcaption {
      opacity: 0;
      transition: opacity .6s; }
    main#gallery section#content figure:hover {
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.7); }
      main#gallery section#content figure:hover figcaption {
        opacity: 1; } }
