/*--------HEADER---------*/
header{
    box-shadow: 0 6px 6px rgba(0,0,0,0.3);
}

/*------------NAV-------------*/
nav{
    position: absolute;
    top:1.5em;
    right:$gutter;
    border-radius:99px;
    ul li {
        width:5em;
    }
}