$defaultWhite:rgb(251, 251, 251);
$mainLightColor:rgb(239, 62, 62);
$mainDarkColor:rgb(155, 1, 1);
$secondaryLightColor:rgb(92, 249, 149);
$secondaryDarkColor:rgb(0, 191, 69);
$defaultDark:rgb(44,44, 44);
$gutter: 2em;
$defaultFont:'Encode Sans', sans-serif;
$serifFont:'Droid Serif', serif;
$lightFont: 400;
$boldFont: 700;
