$defaultWhite:rgb(251, 251, 251);
$mainLightColor:#1A1818;
$addedColor: rgb(0, 160, 77);
$defaultDark:rgb(44,44, 44);
$gutter: 2em;
$defaultFont:'Encode Sans', sans-serif;
$serifFont:'Droid Serif', serif;
$lightFont: 400;
$boldFont: 700;
